.header {
    &__container {
        padding: 19px;
        display: flex;
        justify-content: space-between;
    }

    &__menu {
        background-color: #333;
    }

    &__box {
        display: flex;
        align-items: center;
        gap: clamp(80px, 5vh, 20px);
    }

    &__contact,
    &__address {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        gap: 20px;
    }

    &__address {
        padding-bottom: 10px;
        font-weight: 500;
        gap: 14px;
        font-size: 16px;
        color: #000;
        @media (max-width: 1362px) {
            display: none;
        }
    }

    &__contact {
        li {
            display: flex;
            gap: 5px;

            a {
                display: flex;
                gap: 5px;
                align-items: center;
            }
        }
    }    
}