.popular {
    padding: 100px 0;

    &__container {
        h3 {
            font-weight: 600;
            font-size: 36px;
            line-height: 128%;
            text-transform: uppercase;
            text-align: center;
            color: #222;
            margin-bottom: 50px;
        }
    }

    &__list {
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(390px, 1fr));
        gap: 20px;

        li {
            padding: 46px;
            overflow: hidden;
            border-radius: 30px;
            border: 1px solid #ccab7a;

            h4 {
                height: 72px;
                font-weight: 600;
                font-size: 30px;
                line-height: 133%;
                text-align: center;
                color: #333;
                display: flex;
                flex-direction: column;
                align-items: center;

                span {
                    font-weight: 400;
                    font-size: 20px;
                    line-height: 160%;
                }
            }

            button {
                margin-top: 30px;
                width: 100%;
            }
        }

    }
    &__pay {
        margin-top: 40px;
        margin-bottom: 18px;
        font-weight: 600;
        font-size: 40px;
        line-height: 80%;
        text-align: center;
        color: #ccab7a;
    }
}